'''
html2gemini-cherrytree :: config
'''

class Object(object): pass
cfg = Object()

# (str) hosting domain
cfg.domain = "change.me"

# (str) root working directory 
cfg.workingDir = "/tmp/dir/"

# (str) input path relative to working dir
# may use a pre hook instead if exporting multiple ctbs
cfg.inDir = "./notes.ctb_HTML/"

# (str) output path relative to working dir
cfg.outDir = "./of/"

# (bool) empty output dirs prior to any processing
cfg.wipe = False

# (bool) overwrite existing file
cfg.overwrite = True

# (bool) incremental cherrytree updates
cfg.incremental = False

# run commands before and after processing
# examples:
#	{
#		'a' : True,													# active job
#		'e': "True",												# evaluate expression
#		'c': 'cherrytree -xw /tmp/dir /home/notes.ctb && sleep 3'	# command to run
#		'^': "notes.ctb export started",							# optional: print before
#	}
#	{
#		'a' : True,													# active job
#		'e': "isCherryTree and htmlList",							# evaluate expression
#		'c': 'rsync -rtq of/gemini/ ssh:/home/cherrytree/'			# command to run
#		'^': "rsync files",											# optional: print before
#		'$': "Done"													# optional: print after
#	}
cfg.run = {
	'pre': [
	],
	'post': [
	]
}
